.galeria {
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

body {
    justify-content: center;
    text-align: center;
}

.flow {
    display: inline-flex;
    margin-top: 30px;
}

#cartas div {
    margin: 0px 10px 0px 10px;
}

li {
    color:white;
}

#cartas {
    margin-top: 20px;
    margin-bottom: 50px;
}

footer {
    background-color: #1b1b1b;
    padding: 60px 0;
}

footer h3 {
    color:#fff;
    margin-bottom: 50px;
}

.footerh5 {
    color: #fff;
    margin-left:10px;
    align-self: center;
}

.footerEnd {
    padding-top: 25px;
    color:#fff;
    text-align: center;
    justify-content: center;
}

#absoluteNavBar {
    z-index: 999;
    position: fixed;
    top: 0px;
    width: 100%;
}

#formContainer {
    margin-top: 100px;
}

@media (max-width: 600px) {
    .galeria {
        margin-top:40px;
    }
  }